@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.dashboard {
  width: 100%;
  padding: 0 var(--contpadding);
  min-height: calc(100svh - var(--header-h));
}


.custom-upload-btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--ry-grad);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
}

.custom-upload-btn:hover {
  background-color: #0056b3;
}

.upload-btn {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  outline: none;
  width: 200px;
  background: #1c1f2b;
  color: var(--light-gray);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.upload-btn::after, .upload-btn::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.upload-btn::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

.upload-btn:hover::before {
  filter: blur(1.5rem);
  opacity: 1;
  transition: all var(--base-tr);
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.upload-form {

}

.table-row {
  --content-width: 80%;
  width: 100%;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 5fr 6fr 2fr 2fr 2fr 3fr ;

  p {
    width: var(--content-width);
    padding-left: calc((100% - var(--content-width)) / 2);
    font-size: 24px;
    font-weight: 700;

    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }

  span {
    width: var(--content-width);
    padding-left: calc((100% - var(--content-width)) / 2);
    font-size: 16px;
    font-weight: 400;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }

  div {
    width: var(--content-width);
    padding-left: calc((100% - var(--content-width)) / 2);
    display: flex;
    align-items: center;
  }
}

.status {
  text-transform: uppercase;
  font-weight: 700;
  &.pending {
    color: var(--ry-grad);
  }
  &.started {
    color: var(--yellow);
  }
  &.finished {
    color: var(--green);
  }
  &.failure {
    color: var(--red);
  }
  &.canceled {

  }
}

.actions {
  button {
    background: none;
    border: none;
  }
}